<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->

  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false"/>
  </system.webServer>
  <appSettings>
    <add key="powerbi:AccessKey" value="xJ8eZSGB8LOCn9qRPXsorX7JkpwudeC02EzWRmDjZsTuR4EhGsKbhkddJcz5XB2wGh1vJGcXfGgcTCFjV5+JNg==" />
    <add key="powerbi:ApiUrl" value="https://api.powerbi.com" />
    <add key="powerbi:WorkspaceCollection" value="SinnalbaPowerBI" />
    <add key="powerbi:WorkspaceId" value="cc90a28a-584a-4d60-ad7b-e34641614ffc" />
  </appSettings>
</configuration>
